certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
colorlog==6.7.0
fmpsdk==20230623.0
idna==3.4
numpy==1.25.0
pandas==2.0.2
pip==23.1.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
setuptools==67.8.0
six==1.16.0
tzdata==2023.3
urllib3==2.0.3
wheel==0.40.0
